body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-file-link{
  color: grey
}

.exist-file-link{
  color: blue
}

.error-file-link{
  color: red
}

.warning-file-link{
  color: rgb(199, 182, 26)
}

.ok-file-link{
  color: green
}

input[type=number]{
  width:30px;
}